body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
}

.piano {
    position: relative;
    display: flex;
    justify-content: center;
}

.tecla {
    border: 1px solid #000;
    cursor: pointer;
    box-sizing: border-box;
}

.tecla.branca {
    width: 60px;
    height: 250px;
    background-color: white;
    margin: 0 2px;
    z-index: 1;
}

.tecla.preta {
    width: 40px;
    height: 150px;
    background-color: black;
    position: absolute;
    z-index: 2; /* As teclas pretas devem estar acima das brancas */
    margin-left: -20px; /* Centraliza a tecla preta entre duas brancas */
}

/* Posição das teclas pretas sobre as brancas */
.tecla.preta:nth-child(2) { /* C# */
    left: 45px;
}

.tecla.preta:nth-child(3) { /* D# */
    left: 135px;
}

.tecla.preta:nth-child(5) { /* F# */
    left: 315px;
}

.tecla.preta:nth-child(6) { /* G# */
    left: 405px;
}

.tecla.preta:nth-child(7) { /* A# */
    left: 495px;
}

.tecla.branca:hover {
    background-color: #f0f0f0;
}

.tecla.preta:hover {
    background-color: #333;
}
